
.hg100{
	height: 100px;
}
.hg850{
	height: 850px;
}
.hg300{
	height: 700px;
}
.hg350{
	height: 200px;
}
.hg50{
	height: 50px;
}
.hg85{
	height: 85px;
}
.hg70{
	height: 70px;
}
.hg20{
	height: 20px;
}
.hg30{
	height: 30px;
}
.hg150{
	height: 150px;
}
.mg-f{
	margin-top: 33px;
}
.hgp{
	height: 50;
}
.hg10{
	height: 10px;
}
